.icon{
  font-size: 24px;
}
.contact {
  margin: 15px;
}

.resume {
  width: 100%;
}

.logo {
  text-align: center;
}

.logo img{
  height: 80%;
}

.mySlides {
  box-sizing: border-box;
  display: none;
  text-align: center;
  position: relative;
}

.slideimg{
  width: 60%;
}

/* Slideshow container */
.slideshow-container {
  box-sizing: border-box;
  max-width: 100%;
  position: relative;

}



/* Next & previous buttons */
.prev, .next {
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 45%;
  text-align: center;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  /* background-color: rgba(0,0,0,0.8); */
  text-decoration-color: #717171;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.current, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

body{
  font-family: Nunito, Josefin, sans-sans-serif;
}

/* .img-container{
  background-image: url("../images/title.png");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

footer{
  text-align: center;
  /* background-color: #d4334a; */
  background-color: rgba(212, 51, 74, .90);
  height: 24px;
}

h1{
  font-size: 24px;
  font-weight: bold;
}

h2{
  font-size: 18px;
}

h3{
  font-size: 18px;
}

#parent{
  width: 100%;
  overflow: auto;
}

.headshot {
  float:right;
}


.active {
  font-style:italic;
}

/* skip to main content, modified and sourced from https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/*/

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
    color: black;
    background-color: white;
    left: 0;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding:5px;
    text-align:left;
    font-size:1.2em;
    z-index:999;
}

.burg{
  visibility: hidden;
}


@media screen and (min-width: 650px) {
  a{
    font-family: Nunito, Josefin, sans-serif;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #1a1a1a;
  }

  nav{
    width: 100%;
    background-color: #eee;
  }
  nav li {
    text-transform: uppercase;
    text-decoration: none;
    alignment: center;
    display: block;
  }
  li{
  	text-decoration: none;
  	display:inline;
  }

  nav ul li :hover{
    background-color:#ccc;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  nav ul li {
    width: 25%;

  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .container3 {
    padding-top: 60px;
  }
  .gallery img{
    border: 5px;
    margin: 25px;
  }

  div{
    align: 0 auto;
    vertical-align: middle;
  }

  main{
    margin: 25px;
    border: 5px;
  }
  .container3 {
    display: inline-block;
    border: 25px;
    padding: 25px;
    margin: 25px;
    text-align: center;
  }

  .gallery img{
    width: 30%;
  }

  .gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
  }

  .headshot {
    margin: 15px;

  }

}

@media screen and (max-width: 800px) {
  img{
    width: 100%;
  }

  #bio{
    margin: 20px;
  }
}

@media screen and (max-width: 800px) {
  .headshot{
    border-radius: 50%;
    border: 15px;

  }

  .container3 {
    text-align: center;
    margin: 25px;
    border: 5px;
  }

  .slideimg{
    width: 100%;
  }

  .burg {
  display: block;
  cursor: pointer;
  float: right;
  margin-right: 45%;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  #nav{
    visibility: hidden;
  }

  .burg{
    visibility: visible;
  }

  .prev, .next {
    width: 0;

  }

}
